@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

$maxWidth: 1200px;
$firstColor: #b4e845;
$secondColor: #042612;
$terciareColor: #ebebeb;
$quartareColor: #868686;
$standartSpace: 16px;
$timeAnimation: 0.4s;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Maven Pro', sans-serif;
}

a {
  text-decoration: none;
  color: #ebebeb;
  margin: auto;

  font-size: 18px;
  font-weight: 700;
}

h1 {
  max-width: 500px;
  max-height: 300px;
  font-size: 60px;
  font-weight: bold;
  margin: auto 0;
}

h2 {
  color: $secondColor;
  font-size: 40px;
}

button {
  color: $firstColor;
  background-color: $secondColor;

  border: none;
  padding: $standartSpace;
  cursor: pointer;

  margin: auto;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  font-weight: 700;
}

div.rect {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 15px 20px 5px rgba($color: #000000, $alpha: 0.25);
}

.FirstScreen {
  height: 800px;
  background-image: url('../assets/bg-dolar.jpg');
  background-size: cover;

  display: flex;
  justify-content: center;
}

.nav-container {
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  align-content: center;

  position: fixed;
  top: 0;
  z-index: 99;
  transition: all $timeAnimation cubic-bezier(0.165, 0.84, 0.44, 1);
  div {
    max-width: $maxWidth;
    padding: $standartSpace;
    width: 100vw;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: calc(50% - 600px);
  }

  img {
    margin-right: 120px;
    cursor: pointer;
  }

  nav {
    width: 60%;
    display: flex;
    justify-content: space-between;

    a {
      position: relative;
      padding: 0 10px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;

        display: block;
        width: 0%;
        height: 4px;
        background-color: $firstColor;

        transform: scale(0, 1);
        transform-origin: 0% 100%;
        transition: transform 0.3s ease;
      }

      &:hover::after {
        transform: scale(1, 1);
        display: block;
        width: 100%;
      }
    }
  }

  button {
    margin-left: 50px;
    color: $secondColor;
    background-color: #ebebeb;
    border: none;
    padding: $standartSpace;
    cursor: pointer;

    font-size: 18px;
    border-radius: 5px;
    font-weight: 700;
  }
}

.scroll {
  background-color: #fff;

  nav a {
    color: $secondColor;
  }

  button {
    color: $firstColor;
    background-color: $secondColor;
  }
}

.banner-container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;

  div {
    max-width: $maxWidth;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.SecondScreen {
  height: 1100px;
  background-color: $terciareColor;

  div.rect {
    position: relative;
    top: -157px;
    margin: 0 auto;
    width: $maxWidth;
    height: 220px;

    display: flex;
    justify-content: space-between;

    &:hover {
      box-shadow: 2px 15px 20px 5px rgba($color: #000000, $alpha: 0.35);
    }

    div {
      width: 700px;

      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: left;

      span {
        color: $quartareColor;
      }
    }
  }

  .banner-map {
    display: flex;
    max-width: $maxWidth;
    align-items: center;

    margin: 0 auto;

    justify-content: space-between;

    img {
      margin-left: 50px;
      width: 600px;
      height: 600px;
    }

    p {
      color: $secondColor;
      font-size: 28px;
      font-weight: 400;
    }

    h1 {
      color: $secondColor;
    }

    button {
      margin-top: $standartSpace;
    }
  }
}

.ThirdScreen {
  height: 1000px;
  max-height: 1000px;
  video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    min-width: 100%;
    z-index: -1;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 500px;
  }

  h1 {
    max-width: 100%;
  }

  p {
    font-size: 24px;
  }

  img {
    width: 200px;
    height: 200px;

    margin-top: 200px;
    cursor: pointer;
  }
}

.FourthScreen {
  height: 1000px;
  background-color: $terciareColor;

  display: flex;
  align-items: center;
  justify-content: center;

  li {
    margin-bottom: $standartSpace * 2;
    list-style: none;

    cursor: pointer;
  }

  h2 {
    color: $firstColor;
    margin-bottom: 150px;
  }

  a {
    margin-left: 15px;
    font-size: $standartSpace * 2;
    color: $secondColor;
  }

  div.rect {
    margin-left: 90px;
    width: 450px;
    height: 800px;

    display: flex;

    flex-direction: column;

    h2 {
      margin: 40px 0 60px 15px;
    }

    input {
      padding: 15px 0px 15px 15px;
      margin: 5px 10px;
      height: 25px;

      font-size: 20px;
      color: $secondColor;
      background-color: $terciareColor;
      border: none;
      border-radius: 3px;

      &::placeholder {
        color: $secondColor;
      }
    }

    div.double-input {
      display: flex;

      input {
        width: 210px;
        margin: 5px 2.5px 5px 10px;
      }
    }

    textarea {
      padding: 15px 0px 15px 15px;
      margin: 5px 10px;
      height: 300px;

      resize: none;
      font-size: 20px;
      color: $secondColor;
      background-color: $terciareColor;
      border: none;
      border-radius: 3px;
    }

    div {
      display: flex;
      margin-top: 10px;

      input {
        margin-top: -3px;
      }
      p {
        color: $secondColor;
      }
    }
  }
}

.footer {
  height: 30vh;
  background-color: $secondColor;

  display: flex;
}
